<body class="index-bg">
<div class="nav-bg">
	<button class="new-contribution">
	 	<%= link_to "New Bike", new_bike_path(@bike) %>
	</button>
</div>

	<div class="sidebar">
		<div id="rectangle"></div>
		<div id="triangle-topleft"></div>

	<div class="nav-name ">SLANT
		<div class="subtitle">Bike Review Forum</div>
	</div>
</div>

 <div class="browse-gallery ">
 	<div class="outer">
 		<% @bikes.each do |bike| %>
	 		<div class="card">
				<img src='<%= bike.image %>'><br/>
					<button class="bikeButton">
						<%= link_to bike.name, bike_path(bike) %>
					</button>
			</div>	
 		<% end %>
 	</div>
</div>

</body>












