button {
	/*color:lime-green;*/
}
img {
	height: 200px;
	width: auto;
}

 body { 
 	padding-top: -70px; 

 	background: url(racingPro.jpg)no-repeat;
 
	/*background-size: cover;*/
	overflow-x: scroll;
}

.actionCall {
	font-size: 64px;
	margin: auto;
	text-align: center;
	color:white;
}
.new-contribution {
	background-color: magenta;
}

.bikeButton{
	width:100%;
	display:inline-block;
	background-color: limegreen;
	border:none;
	font-style: italic;
	font-weight: bold;
}

.bikeName {
	color:white;
	background-color: aqua;
    width: 100%;
    text-align: center;
}

.card {
	display: inline-block;
	margin: 20px;
}

.outer { 
	overflow-x: scroll; 
}
/*.card { min-width: 200px; }*/
.browse-gallery {
    width: 100%;
    height: 300px;
    overflow-x: scroll;
    overflow-y: scroll;
    background: #585453;
    white-space: nowrap;
  
}
.browse-gallery .img {
    width: 109px;
    height: 81px;
    display: inline-block;
}

.rightArrow {
	width: 100px;
	height: 100px;
	opacity: 0.5;
	border: none;
	font-size:2em;
	border-radius: 80px;
	float: right;
	padding-right: 10px;
	position: relative;
	
}

.leftArrow {
	width: 100px;
	height: 100px;
	opacity: 0.5;
	border: none;
	font-size:2em;
	border-radius: 80px;
	padding-left: 10px;
	position: relative;
}

.downButton{
	font-size: 36px;
	background: none;
	color:white;
	border: none;
	text-align: center;
	position: relative;
}
.downArrowDiv {
	text-align: center;
	margin:auto;
}

#scrollButtons{
	width: 100%;
	top: 62vw;
	position:absolute;
}
.iframeVideo {
	margin-top:-100px;
	height: auto;
	width: 100%;
}

.nav-bg{
    height:75px;
    width: 100%;
    background-color:grey;
    position: absolute;
    opacity:0.5;
    top:0	;
}

.nav-name {
	font-size: 48px;
	font-style: bold-italic;
	font-weight: bold;
	font-style: italic;
	position: absolute;
    top:0;
    padding-left: 20px;
    color:magenta;
}

.footer {
	bottom:0;
	height: 75px;
	background: black;
}

.call-to-action {
	font-size: 94px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	padding-top: 300px;
	color:limegreen;

/*	text-transform: uppercase;
    transform-origin: center center;
    position: relative;
    -webkit-transform: rotate(-7deg) translateY(-50%);
    -ms-transform: rotate(-7deg) translateY(-50%);
    transform: rotate(-7deg) translateY(-50%);
    top: 50%;*/
}


