img {
	height: 100px;
	width: auto;
}

 body { 
 	/*padding-top: -70px; */
 		background: url(racingPro.jpg);

 		background-size:cover;
}

.new-contribution {
	background: none;
	width: 25px;
	height: 25px;
	border:none;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	font-size: 24px;
	padding-top: 15px;
	float: right;
	padding-right: 100px;
	z-index: 1000;

}

.bikeButton{
	width:100%;
	display:inline-block;
	background-color: white;
	border:none;
	font-style: italic;
	font-weight: bold;
}

.bikeName {
	color:black;
	background-color: white;
    width: 100%;
    text-align: center;

}

.card {
	display: inline-block;
	margin: 0px;
}

.outer { 
	overflow-x: scroll; 

}
/*.card { min-width: 200px; }*/
.browse-gallery {
    width: 100%;
    height: 120px;
    overflow-x: scroll;
    overflow-y: scroll;
    background: white;
    white-space: nowrap;
    bottom:0vw;
    position: absolute;
    z-index: 100;
  
}
.browse-gallery .img {
    width: 109px;
    height: 81px;
    display: inline-block;
}

/*.rightArrow {
	width: 100px;
	height: 100px;
	opacity: 0.5;
	border: none;
	font-size:2em;
	border-radius: 80px;
	float: right;
	padding-right: 10px;
	position: relative;
	top:50vw;
}*/

/*.leftArrow {
	width: 100px;
	height: 100px;
	opacity: 0.5;
	border: none;
	font-size:2em;
	border-radius: 80px;
	padding-left: 10px;
	position: relative;
}*/

/*.downButton{
	font-size: 36px;
	background: none;
	color:black;
	border: none;
	text-align: center;
	position: relative;
}
.downArrowDiv {
	text-align: center;
	margin:auto;
}*/

/*#scrollButtons{
	width: 100%;
	top: 36vw;
	position:absolute;
}*/
/*.iframeVideo {
	margin-top:-100px;
	height: auto;
	width: 100%;
}*/

.nav-bg{
    height:75px;
    width: 100%;
    background-color:white;
    position: absolute;
    opacity:0.7;
    top:0	;
    z-index: 2;
}

.nav-name {
	font-family: Open Sans;
	font-size: 72px;

	font-style: bold-italic;
	font-weight: bold;
	font-style: italic;
	position: absolute;
    top:0;
    padding-left: 100px;
    color:#10E011;
}

.subtitle {
	font-size: 18px;
}
.footer {
	bottom:0;
	height: 75px;
	background: black;
}

.call-to-action {
	font-size: 94px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	padding-top: 300px;
	color:limegreen;

/*	text-transform: uppercase;
    transform-origin: center center;
    position: relative;
    -webkit-transform: rotate(-7deg) translateY(-50%);
    -ms-transform: rotate(-7deg) translateY(-50%);
    transform: rotate(-7deg) translateY(-50%);
    top: 50%;*/
}
/*.detailsCard {
	padding-top: 20px;
	width: 500px;
	background-color: grey;
	border:20px;
}*/
/*
.detailsName {
	font-size: 48px;
	color:white;
	text-align: center;
}*/

/*.detailsImage {
	height: auto;
	width: 80%;
}*/

/*∂ƒ*/

/* Basic Grey */
/*.basic-grey {

	margin-top:5%;
    margin-left:5%;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #CF7A7A
}	*/
/*
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}*/

.sidebar {
	position: absolute;
	z-index: 300;
}

#rectangle {
	width: 150px;
	height: 750px;
	background: #4A4A4A;
	display: inline-block;
	margin:0px -4px 0px 0px;

}
#triangle-topleft {
	width: 0;
	height: 0;
	border-top: 750px solid #4A4A4A;
	border-right: 250px solid transparent;
	display: inline-block;
}




